.anunciate{
    display: flex;
    align-items:center ;
    justify-content: center;
}
.anunciate img{
    height: 100%;
    margin-bottom: 20px;
    max-width: 700px;
}

#anunciate2{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 10%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .anunciate img{
        height: 400px;

    }
}

@media screen and (max-width: 768px) {
    .anunciate img{
        height: 370px;

    }
}@media screen and (max-width: 480px) {

    .anunciate img{
        height: 230px;

    }

}

@media screen and (max-width: 310px) {
    .anunciate img{
        height: 150px;

    }
}