.contacto{
  padding-top: 2%;
  background-color: #ffffff;
}
.contacto h2 {
    display: grid;
    padding-top: 4%;
    color: #000000;
    text-align: center;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
section .contenedor_contacto {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    gap: 166px;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    background-color: #ffffff;
    padding-top: 0;
    padding-bottom: 100px;
  }
  section .contenedor_contacto .info_contacto {
    color: #000000;
  }
  section .contenedor_contacto .info_contacto h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  section .contenedor_contacto .info_contacto h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  section .contenedor_contacto .info_contacto p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }
  section .contenedor_contacto .info_contacto #parrafo {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
  }
  section .contenedor_contacto .info_contacto #parrafo2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
  }
  section .contenedor_contacto form {
    margin: 0 auto;
    width: 400px;
  }
  section .contenedor_contacto form label {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  section .contenedor_contacto form input, section .contenedor_contacto form textarea {
    width: 341px;
    height: 40px;
    background: #ffffff;
    border-radius: 1em;
    border: 2px solid #292929;
    padding: 10px;
    margin-top: 5px;
    font-size: 12px;
    color: #383838;
  }
  section .contenedor_contacto form textarea {
    height: 150px;
  }
  section .contenedor_contacto form #submit {
    background-color:  #FF067E;
    color: #ffffff;
    border-radius: 1em;
    font-size: 13px;
    width: 100px;
    height: 35px;
    border: none;
    margin-left: 0px;
    margin-top: 20px;
    cursor: pointer;
  }
  section .contenedor_contacto form #submit:hover {
    background-color: #ff68b1;
    transition: all 0.5s;
    box-shadow: 0px 0px 10px 2px #FF067E;
    background-blend-mode: multiply;
  }

@media screen and (max-width: 1024px) {
    section .contenedor_contacto {
        grid-template-columns: repeat(2, 376px);
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 100px;
      }
      section .contenedor {
        background-color: white;
        padding-top: 10%;
      }
      section .contenedor h1 {
        margin-top: -35%;
        left: 5%;
        font-size: 50px;
        font-weight: bold;
        color: #17181C;
      }
      section .contenedor h2 {
        margin-top: -55%;
        left: 5%;
        padding-top: 28%;
        font-size: 35px;
      }

      section .contenedor2 { /* CONTENEDOR DE TEXTO  */
        grid-template-columns: repeat(1, 647px);
        padding-bottom: 100px;

    }
}
@media screen and (max-width: 768px) {
    section .contenedor_contacto {
        grid-template-columns: repeat(1, 430px);
        gap: 15px;
        padding-top: 10px;
        padding-bottom: 100px;
      }
      section .contenedor_contacto .info_contacto h3 {
        margin-top: 30px;
        margin-bottom: 10px;
      }
      section .contenedor_contacto .info_contacto h4 {
        margin-top: 15px;
        margin-bottom: 0px;
      }
      section .contenedor_contacto .info_contacto p {
        margin-top: 6px;
      }
      section .contenedor_contacto #parrafo {
        margin-top: 6px;
      }
      section .contenedor_contacto #parrafo2 {
        margin-top: 6px;
      }
      section .contenedor_contacto .principal {
        width: 510px;
      }
      section .contenedor_contacto form {
        margin: 0 auto;
        width: 80%;
      }
      section .contenedor_contacto input {
        width: 140px;
        height: 10px;
        padding: 10px;
        margin-top: 5px;
        font-size: 10px;
      }
      section .contenedor_contacto textarea {
        height: 50px;
      }
      section .contenedor_contacto #submit {
        font-size: 8px;
        width: 60px;
        height: 27px;
        margin-top: 10px;
        margin-left: 2px;
      }
}

@media only screen and (max-width: 480px) {
  section .contenedor_contacto {
    grid-template-columns: repeat(1, 240px);
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 100px;
    /* FIN CONTENEDOR Y TEXTO DE CONTACTO  */
  }
  section .contenedor_contacto h3 {
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  section .contenedor_contacto h4 {
    font-size: 9px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  section .contenedor_contacto p {
    font-size: 8px;
    margin-top: 6px;
  }
  section .contenedor_contacto #parrafo {
    font-size: 8px;
    margin-top: 6px;
  }
  section .contenedor_contacto #parrafo2 {
    font-size: 8px;
    margin-top: 6px;
  }
  section .contenedor_contacto .principal {
    width: 510px;
  }
  section .contenedor_contacto form {
    margin: 0 auto;
    width: 282px;
  }
  section .contenedor_contacto form input, section .contenedor_contacto form textarea {
    width: 210px;
  }
  section .contenedor_contacto input, section .contenedor_contacto textarea {
    width: 140px;
    height: 10px;
    padding: 10px;
    margin-top: 5px;
    font-size: 10px;
  }
  section .contenedor_contacto textarea {
    height: 50px;
  }
  section .contenedor_contacto #submit {
    font-size: 8px;
    width: 60px;
    height: 27px;
    margin-top: 10px;
    margin-left: 2px;
  }
}

@media only screen and (max-width: 310px) {
  .contenedor .contenedor_contacto {
    grid-template-columns: repeat(1, 140px);
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 100px;
  }
  .contenedor .contenedor_contacto input, .contenedor .contenedor_contacto textarea {
    width: 380px;
    height: 40px;
  }
  .contenedor .contenedor_contacto input, .contenedor .contenedor_contacto textarea {
    width: 160px;
    padding: 10px;
    margin-top: 5px;
    font-size: 10px;
  }
  .contenedor .contenedor_contacto textarea {
    height: 40px;
  }
}