.image_eventos{
    display: grid;
    grid-template-columns: repeat(4, 234px);
    gap: 5px;
    justify-content: center;
    margin-bottom:10% ;
}

.image_eventos img {
    width:230px ;
    height: 230px;
}
.eventos{
    display: grid;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media screen and (max-width: 1024px){
    .image_eventos{

        grid-template-columns: repeat(3, 240px);
        gap: 5px;

    }
    .image_eventos img {
        width:240px ;
        height: 240px;
    }
}

@media screen and (max-width: 768px) {
    .image_eventos{

        grid-template-columns: repeat(2, 225px);
        gap: 5px;

    }
    .image_eventos img {
        width:225px ;
        height: 225px;
    }
}
@media only screen and (max-width: 480px){
    .image_eventos{

        grid-template-columns: repeat(1, 225px);
        gap: 5px;

    }
    .image_eventos img {
        width:225px ;
        height: 225px;
    }
}

.flip {
    position: relative;
  }
  .flip > .front,
  .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
  }
  .flip > .front {
    transform: rotateY(0deg);
  }
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 112px;;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  .flip:hover > .front {
    transform: rotateY(180deg);
  }
  .flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
  }
  .flip.flip-vertical > .back {
    transform: rotateX(-180deg);
  }
  .flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
  }
  .flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
  }
  
  .flip {
    position: relative;
    display: inline-block;
  }
  .flip > .front,
  .flip > .back {
    display: block;
    color: white;
    width: 72.4%;
    background-size: cover !important;
    background-position: center !important;
    height: 88px;
    padding: 1em 2em;
    background: #FF067E;
}
  .flip > .front p,
  .flip > .back p {
    font-size: 1.9125rem;
    line-height: 0%;
    color: #ffffff;
  }